/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}













/* start Header */

.header {}

.nav {
    display: flex;
    align-items: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}

.nav-logo {
    margin-right: 1.5rem;
}

.nav-logo-image {}

.menu {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;

}

.item-menu {}

.menu-link {
    text-decoration: none;
    color: #081D43;
    padding: 0 1rem;
}


.header-btn {
    text-decoration: none;
    background-color: #0050C8;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;

}

.header-icon {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;
}

.header-bottom {
    margin-top: 4rem;
}

.header-content {
    display: flex;
    align-items: center;
}

.header-content-left {

    flex-basis: 50%;
}

.header-content-wrapper {
    width: 28rem;
    max-width: 28rrem;
}

.header-content-title {
    color: #081D43;
    font-family: "TTNorms Medium";
    font-weight: normal;

}

.header-content-text {
    color: #6C7890;
    line-height: 2rem;
}

.header-content__links {
    margin-top: 2rem;
}

.header-content__link {

    text-decoration: none;
    background-color: #2F5BEA;
    margin-top: 2.4rem;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    margin-right: 0.8rem;

}


.header-content__link:nth-child(1) {
    background-color: #87BC25;
}

.header-content-right {
    flex-basis: 50%;
}

.header-content-image {
    width: 100%;
}


/* Start main  */

.main {}

.container {}

.work {
    text-align: center;
    margin-top: 8.5rem;
}

.work-text {

    color: #6C7890;
    margin-bottom: 0.8rem;

}

.work-title {

    color: #081D43;
    margin-top: 0;
    font-weight: normal;
    font-size: 1.7rem;

}

.work-content {

    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.work-content-item {
    
    max-width: 20rem;
    flex-shrink: 0;

}

.work-content-title {
    
    color: #081D43;

}

.work-content-text {
    
    width: 100%;
    color: #6C7890;
    line-height: 2rem;

}

.work-image {
    
    max-width: 31rem;
    margin: 0 auto;

}

.work-image__img {
    
    width: 100%;
    margin-top: 3rem;

}

.person-comments {
    
    margin-top: 5rem;
    background-color: #2F5BEA;
    padding: 3rem 0;
    text-align: center;

}

.person-comments-title {
    
    color: #fff;
    margin-bottom: 0.3rem;

}

.person-comments-text {
    
    color: #fff;
    line-height: 2rem;
    margin-top: 0;


}

.comment-container {
    
    max-width: 65rem;
    margin: 4.5rem auto 0 auto;

}

.comments {

    display: flex;
    justify-content: space-between;

}

.comment {
    
    background-color: #fff;
    margin: 0 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 20rem;
    box-shadow: 0 0 10px #3a32329d;
    min-height: 16rem;

}

.comment-content {
    
    padding: 1.4rem;
    text-align: left;

}

.comment-body {
    
    color: #7E8085;
    font-family: "Times Roman Italic";
    line-height: 1.5rem;

}

.comment-info {
    
    display: flex;
    align-items: center;
    padding: 0 1.4rem;
    border-top: 1px solid #E8EBEF;

}

.comment-image {
    
    margin-right: 1rem;

}

.comment-person {
    
    font-family: "TTNorms";

}

.companies {

    display: flex;
    justify-content: space-between;
    margin: 10rem 1rem 0 1rem;

}

.companies-image {
    
    display: block;

}

.portfolio {
    
    margin-top: 5rem;
    text-align: center;

}

.portfolio-text {
    
    color: #6C7890;
    margin-bottom: 0.8rem;



}

.portfolio-title {
    
    color: #081D43;
    margin-top: 0;
    font-weight: normal;
    font-size: 1.7rem;

}

.Sample-work {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    width: 100%;

}

.Sample-work__img {
    flex-basis: 23rem;
    border-radius: 0.5rem;
    transition:;
    all250msease-in-w
    ebkit-transition: all 250ms ease-in;
    -moz-transition: all 250ms ease-in;
    -ms-transition: all 250ms ease-in;
    -o-transition: all 250ms ease-in;
    -webkit-transition: all 250ms ease-in;

}

.Sample-work__img:nth-child(6) {
    
    order: 1;

}

.Sample-work__img:nth-child(5) {
    order: 4;
}

.Sample-work__img:nth-child(4) {
    order: 5;
}

.Sample-work__img:nth-child(3) {
    order: 2;
}

.Sample-work__img:nth-child(2) {
    order: 6;
}

.Sample-work__img:nth-child(1) {
    order: 3;
}

.Sample-work__img:hover {


    cursor: pointer;



}


/* start footer */

.newsletter {
    background-color: #2C57E4;
    margin-top: 5rem;
}

.newsletter__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
    align-items: center;

}

.newsletter__text {
    color: #fff;
    font-family: "TTNorms";
    font-weight: normal;
    font-size: 1.5rem;

}

.newsletter__email {
    background-color: #fff;
    display: flex;
    padding: 0.3rem;
    border-radius: 0.5rem;
    flex-basis: 22rem;
    justify-content: space-between;

}

.newsletter_txt {
    outline: none;
    border: none;
}

.newsletter__btn {
    padding: 1rem 1.5rem;
    background-color: #2F5BEA;
    border: none;
    outline: none;
    border-radius: 0.3rem;
}

.copyright-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.copyright-text {
    color: #6C7890;
}

/*  Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .Sample-work__img {
        flex-basis: 28rem;
    }

    .newsletter__text {
        max-width: 28rem;
    }

    .header-content-left {

        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 100%;
    }

    .header-btn {
        display: none;
    }

    .header-content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .header-bottom {
        margin-top: 3rem;
        justify-content: center;
    }

    .header-content-wrapper {
        max-width: 100%;
    }

    .header-content__links {
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .header-content__link {
        margin-bottom: 1rem;
    }

    .header-content-title {
        flex-wrap: wrap;
    }

    .comments {
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .comment {
        flex-basis: 19rem;
        margin: 1rem;
    }

    .companies {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 2.5rem;

    }

    .companies-image {
        padding: 1rem;
    }

    .Sample-work__img {
        flex-basis: 20rem;
    }

    .newsletter__text {
        max-width: 22rem;
    }

    .header-content-left {

        display: flex;
        justify-content: center;
        flex-basis: 100%;

    }

    .header-content-title {
        width: 33rem;
        font-size: 1.7rem;
    }

    .header-content-text {
        width: 35rem;
    }

    .header-top {
        display: flex;
        justify-content: space-evenly;
    }



}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .menu {
        /* display: none; */
        position: fixed;
        left: -100%;
        top: 0;
        bottom: 0;

        width: 16rem;
        flex-direction: column;
        padding: 2rem 1rem;
        transition: all 0.3s;
        background-color: #2F5BEA;
        box-shadow: 0px 0px 0.2rem rgb(0, 0, 0);
        /* background: rgba(100, 200, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18); */

    }

    .menu-link {
        color: #fff;
    }

    .nav {
        display: flex;
        justify-content: space-a;
    }

    .item-menu {
        margin-bottom: 2rem;
        font-size: 1.2rem;
    }

    .header-icon {
        display: block;
    }

    .header-icon {
        position: fixed;
        right: 0;
        top: 0;
        padding: 1.3rem 1.35rem;
    }

    .header-top {
        margin-right: 1rem;
        left: 0;
        position: fixed;
        top: 0;
        background-color: #fff;
        box-shadow: 0rem 0rem 0.4rem rgb(139, 139, 139);
        width: 100%;
        display: flex;
        justify-content: space-between;


    }

    .header-content-left {

        max-width: 100%;
    }

    .header-content-left {

        display: flex;
        justify-content: center;
        flex-basis: 100%;

    }

    .header-content-title {
        width: 100%;
        font-size: 1.7rem;
    }

    .header-content-text {
        width: 100%;

    }

    .nav-logo-image {
        margin-left: 1rem;
    }

    .header-bottom {
        margin-top: 8rem;
        justify-content: center;
    }

    .Sample-work__img {
        flex-basis: 100%;
    }

    .newsletter__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }

    .newsletter__email {
        max-width: 22rem;
    }

    .newsletter__text {
        width: 100%;
    }




}



@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .header-content-left {

        width: 100%;
    }
}